@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@font-face {
    font-family: 'XITS';
    src: url(../font/XITS-Regular.woff);
}

@font-face {
    font-family: 'XITS';
    src: url(../font/XITS-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: 'XITS';
    src: url(../font/XITS-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'XITS';
    src: url(../font/XITS-BoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'XITS Math';
    src: url(../font/XITSMath-Regular.woff);
}

@font-face {
    font-family: 'XITS Math';
    src: url(../font/XITSMath-Bold.woff);
    font-weight: bold;
}