@import "fonts";

[z-text] {
    font: 1em "XITS", "XITS Math", serif;
    text-align: center;
    user-select: none;
    display: inline-block;

    * {
        box-sizing: border-box;
        line-height: 120%;
    }

    z-num, z-op, z-func {
        font-style: normal;
    }
    
    z-op {
        padding: 0 0.2em;
    }

    z-func {
        padding: 0 0.1em;
    }

    z-var {
        font-style: italic;
        font-size: 1em;
    }

    z-sscript, z-frac {
        display: inline-block;
        
        z-sup, z-sub, z-numer, z-denom {
            display: block;
            
        }

        z-sub, z-denom {
            float: left;
        }

        &::after {
            content: "";
            display: inline-block;
        }
    }

    z-sscript {
        vertical-align: -0.6em;
        padding-right: 0.1em;
        margin-bottom: -0.4em;

        z-sup, z-sub {
            font-size: 0.75em;
        }

        & z-sscript {
            margin-bottom: 0;
        }
    }

    z-frac {
        vertical-align: -0.55em;

        z-numer, z-denom {
            font-size: 0.8em;
            padding: 0 0.4em;
            width: 100%;
        }
        z-numer {
            padding-bottom: 0.2em;
            border-bottom: 1px solid black;

            > z-frac {
                margin-bottom: -0.2em;
            }
        }
        z-denom {
            padding-top: 0.2em;
            > z-sscript {
                margin-bottom: -0.2em;
            }
        }
    }

    z-root {
        display: inline-flex;
        padding: 0.5em 0.1em 0 0.1em;

        > z-ord {
            float: left;
            order: -1;
            transform: translate(0.5em, -0.6em);
            font-size: 0.75em;
            margin-left: -0.5em;
            min-width: 0.5em;
        }
        > z-arg {
            display: inline-block;
            padding: 0.15em;
            padding-bottom: 0;
            margin-left: -0.04em;
            border-top: 0.05em black solid;
        }
        &::before {
            padding-right: 0.75em;
            content: "";
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% calc(100% - 0.15em);
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="112 -222 850 1200" preserveAspectRatio="none"> <path fill="currentColor" d="M963 -223l-478 1232h-32l-202 -530c-17 -45 -37 -59 -62 -59c-17 0 -43 11 -65 31l-12 -20l156 -124h19l204 536h4l414 -1066h54z" /> </svg>');
        }
        &::after {
            content: "\200B";
            order: -2;
            align-self: center;
        }
    }

    z-brackets {
        display: inline-flex;
        align-items: center;
        margin: 0.2em 0;

        &[ghost="left"]::before, &[ghost="right"]::after,  &[ghost="both"]::before, &[ghost="both"]::after {
            opacity: 0.4;
        }

        &::before, &::after {
            width: 0.4em;
            background-size: 64% 100%;
            background-repeat: no-repeat;
            content: "\200B";
            vertical-align: middle;
            display: flex;
            align-self: stretch;
            align-items: center;
            background-position: center;
        }
        &::before {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="48 73 256 860" preserveAspectRatio="none"> <path fill="currentColor" d="M304 911l-12 16c-158 -90 -244 -259 -244 -429c0 -185 87 -329 247 -424l9 16c-139 119 -170 212 -170 405c0 186 30 299 170 416z"/></svg>');
        }
        &::after {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="29 72 256 858" preserveAspectRatio="none">   <path fill="currentColor" d="M29 90l12 -16c153 92 244 259 244 429c0 185 -88 327 -247 424l-9 -16c142 -117 170 -211 170 -405c0 -187 -25 -302 -170 -416z"/></svg>');
        }
        &[type="square"]::before {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="88 88 211 819" preserveAspectRatio="none"> <path fill="currentColor" d="M299 906h-211v-818h211v25h-83c-34 0 -52 12 -52 48v666c0 40 19 54 52 54h83v25z"/></svg>');
        }
        &[type="square"]::after {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="34 88 211 819" preserveAspectRatio="none"> <path fill="currentColor" d="M245 906h-211v-25h88c35 0 47 -15 47 -46v-668c0 -35 -13 -54 -51 -54h-84v-25h211v818z"/></svg>');
        }
        &[type="curly"]::before {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="100 70 250 862" preserveAspectRatio="none"> <path fill="currentColor" d="M350 920v11c-67 -1 -93 -7 -121 -25s-44 -59 -44 -115v-177c0 -69 -18 -93 -85 -114c67 -20 85 -43 85 -113v-178c0 -57 15 -96 44 -114s55 -24 121 -25v11c-69 18 -91 48 -91 123v168c0 83 -19 109 -94 129c75 19 94 45 94 128v168c0 75 22 105 91 123z"/></svg>');
        }
        &[type="curly"]::after {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="130 70 250 862" preserveAspectRatio="none"> <path fill="currentColor" d="M295 210v177c0 70 18 93 85 113c-67 21 -85 44 -85 114v178c0 57 -15 96 -44 114s-55 24 -121 25v-11c69 -18 91 -48 91 -123v-168c0 -83 19 -109 94 -129c-75 -19 -94 -44 -94 -128v-168c0 -75 -22 -105 -91 -123v-11c67 1 93 7 121 25s44 59 44 115z"/></svg>');
        }
    }
}